{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProHighEnd - Tecnologia de Ponta para Gamers</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="area-fantasma">
         <img id="icone" class="icone" src="{% static 'img/icons8-avatar-24.png' %}">
         <img id="carrinho" class="carr" src="{% static 'img/carrinho.png' %}"  width="40">
    </div>
    <header>
        <div class="logo-area">
            <img  id="imagem-produto" src="{% static 'img/logo.png' %}" alt="Logo ProHighEnd" class="logo-img">
            <h1>ProHighEnd</h1>
        </div>
        <form id="formPesquisa">
            <input type="text" id="barraPesquisa" placeholder="Buscar produtos...">
            <div id="suggestions"></div>
        </form>
        <div class="header-options">
            <a href="produtos">Produtos</a>
            <a href="perfil">Seu Perfil</a>
            <a href="#">Vender</a>
            <a href="#">Carrinho</a>
        <div id="MeuCarr" class="MyCarr">
        <div class="carrinho-aliem">
            <p class="carr">meu carrinho</p>
            <button id="BTfechar" type="button">fechar</button>
        </div>
        </div>

        </div>
    </header>
    {% block content %}{% endblock %}
    {% include "rodape.html" %}
    {% block script %}{% endblock %}
</body>
</html>