* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    margin-left: 150px;
    margin-inline-end: 100px;
    max-width: 400px;
    display: flex;
    gap: 100px;
}
.category-item{
    border: 5px solid #FF69B4;
    box-shadow: 0 5px 15px rgba(255, 105, 180, 0.2);
    border-radius: 15px;
    margin-bottom: 20px;
}
.category-item a {
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.category-item a img {
    border-radius: 15px;
    width: 250px;
    height: 200px;
}