* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 15px #e6007360;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(135deg, #E60073, #D926A9);
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111; 
    padding: 3rem;
    color: fff;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #E60073;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: fff;
}

.login-button button:hover {
    background-color: #D926A9;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff; 
}

.form-header h1::after {
    content: '';
    display: flex;
    width: 5rem;
    height: 0.3rem;
    background-color:  #FF4DA6;
    margin: 0 auto;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
    box-shadow: 1px 1px 6px #e6007340;
} 

.input-box:hover {
    background-color: #e6007340;
}

.input-box input:focus-visible {
    outline: 1px solid #999;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #FF4DA6;
}

.input-box input::placeholder {
    color: #FF4DA6;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem; /* vírgula trocada por ponto */
    padding-bottom: 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem; /* vírgula trocada por ponto */
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem; /* vírgula trocada por ponto */
    border: none;
    background-color: #94025a;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #850048;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff; /* faltava # */
}

/* RESPONSIVO */
@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender-inputs {
        margin-top: 2rem;
    }

    .gender-group {
        flex-direction: column;
    }

    .gender-input {
        margin-top: 0.5rem;
    }
}

h1 {
  color: #fff !important;
}

label {
  color: #fff !important;
}