{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProHighEnd - Tecnologia de Ponta para Gamers</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/ghost.css' %}">
    <link rel="stylesheet" href="{% static 'css/produto.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="area-fantasma">
         <img id="icone" class="icone" src="{% static 'img/icons8-avatar-24.png' %}">
         <img id="carrinho" class="carr" src="{% static 'img/carrinho.png' %}"  width="40">
    </div>
    <header>
        <div class="logo-area">
            <a href="/index">
                <img id="imagem-produto" src="{% static 'img/logo.png' %}" alt="Logo ProHighEnd" class="logo-img">
            </a>
            <h1>ProHighEnd</h1>
        </div>
        <form id="formPesquisa">
            <input type="text" id="barraPesquisa" placeholder="Buscar produtos...">
            <div id="suggestions"></div>
        </form>
        <div class="header-options">
            <a href="produtos">Produtos</a>
            <a href="perfil">Seu Perfil</a>
            <a href="#">Vender</a>
            <a href="#">Sobre nós</a>
        </div>
        <!-- Carrinho -->
        <div id="MeuCarr" class="MyCarr">
            <div class="carrinho-aliem">
                <h2>Meu Carrinho</h2>
                <ul id="cart-items" class="cart-items">
                    <!-- Itens do carrinho serão inseridos aqui via JS -->
                </ul>
                <div class="cart-total-area">
                    <span>Total:</span> <span id="cart-total">R$ 0,00</span>
                </div>
                <div class="cart-actions">
                    <button id="cart-clear" type="button">Esvaziar</button>
                    <button id="cart-checkout" type="button">Finalizar Compra</button>
                </div>
            </div>
        </div>
        
    </header>
    {% block content %}{% endblock %}
    {% include "rodape.html" %}
    {% block script %}{% endblock %}
</body>
</html>