{% extends "base.html" %}
{% load static %}

{% block content %}

    <main>
        <section class="featured-products">
            <h2>Nosso Catálogo</h2>
            <div class="product-grid" id="featuredProductsContainer">
            </div>
        </section>
    </main>
    <embed class="rodape" src="rodape.html" ></embed>
    <script src="produtos.js"></script>
    <script src="outro.js"></script>
{% endblock %}
{% block script %}
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/outro.js' %}"></script>
{% endblock %}